h1 {
    color: blue;
    font-size: 75% larger;
}

.content-namename1 {
color: darkred;
font-size: 50% larger;
border: 1px solid aqua;
background-color: chocolate;

}
.content-namename2 {
    color: darkred;
    font-size: 50%  larger;
    border: 1 px solid aqua;
    background-color: chocolate;
}
.content-namename3 {
    color: darkred;
    font-size: 50% larger;
    border: 1 px solid aqua;
    background-color: chocolate;
}

.content {
    font-size: 25% larger;
    color: white
}

.box {
    width: 400 px;
    margin: 40 px;
    border: 3 px solid darkred;
    padding: 20px;
    background-color: black;
}