h1 {
    color: blue;
    font-size: larger 75%;
}

.content-name {
color: darkred;
font-size: larger 50%;
font-weight: bolder;
border: 1px solid aqua;
background-color: chocolate;
}

.content {
    font-size: larger 25%;
    font-style: italic;
    border: darksalmon;
    color: white
    
}

.col-lg-4col-md-6col-sm-12 {
    width: 400 px;
    margin: 80 px;
    padding: 20px;
    background-color: black;
}

.col-lg-4col-md-12col-sm-12 {
    width: 400 px;
    margin: 80 px;
    padding: 20px;
    background-color: black;
}
